@page
@model Server.Pages.Admin.Pages.CreateModel

@{
    var pageTitle =
        $"{Resources.ButtonCaptions.Create} {Resources.DataDictionary.Page}";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

    <section-form>
        <fieldset>
            <section-form-header>
                @(pageTitle)
            </section-form-header>

            <partial name="PartialViews/_DisplayPageMessages" />

            <dtat-full-input asp-for="ViewModel.Title" />

            <dtat-full-input asp-for="ViewModel.Author" />

            <dtat-full-textarea asp-for="ViewModel.Body" />

            <dtat-full-textarea asp-for="ViewModel.Description" />

            <dtat-full-textarea asp-for="ViewModel.Introduction" />

            <dtat-full-input asp-for="ViewModel.LayoutId" />

            <dtat-full-input asp-for="ViewModel.Category" />

            <dtat-full-input asp-for="ViewModel.ImageUrl" />

            <dtat-full-input asp-for="ViewModel.Ordering" />

            <dtat-full-input asp-for="ViewModel.Password" />

            <dtat-full-input asp-for="ViewModel.Copyright" />

            <dtat-full-input asp-for="ViewModel.Classification" />

            <dtat-full-input asp-for="ViewModel.PublishStartDateTime" />

            <dtat-full-input asp-for="ViewModel.PublishFinishDateTime" />

            <dtat-full-checkbox asp-for="ViewModel.IsActive" />

            <dtat-full-checkbox asp-for="ViewModel.DisplayCreatorUser" />

            <dtat-full-checkbox asp-for="ViewModel.IsCommentingEnabled" />

            <dtat-full-checkbox asp-for="ViewModel.IsFeatured" />

            <dtat-full-checkbox asp-for="ViewModel.HasAttachment" />

            <dtat-full-checkbox asp-for="ViewModel.IsUnupdatable" />

            <dtat-full-checkbox asp-for="ViewModel.IsUndeletable" />

            <dtat-full-checkbox asp-for="ViewModel.DoesSearchEnginesIndexIt" />

            <dtat-full-checkbox asp-for="ViewModel.DoesSearchEnginesFollowIt" />
        </fieldset>

        <section-form-buttons>
            <button-create />
            <button-reset />
        </section-form-buttons>

        <section-form-footer>
            <a asp-page="Index">
                @(Html.DtatGetLinkCaptionForList())
            </a>
        </section-form-footer>
    </section-form>

</form>
